
/*imagen del logo de la izquierda*/
.avatar {
    padding: 10px 50px !important;
    width: max-content !important;
}
/*Evita que la imagen del logo no aparezca en sigioentes pantallas*/
@media screen and (max-width: 600px) {
    .avatar {
    display: none !important;
}
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: black !important;
}
.button {
    color: white !important;
}
.css-1e4e1qc-MuiButtonBase-root-MuiButton-root {
    color: white !important;
} 
.carrito {
    color: white !important;
}